@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

$primary: #583cdf;
$secondary: #777777;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Titillium Web', sans-serif;
}
#app{
  background-color: #10103a;
  background-size: cover;
  background-position: top;
  transition: 0.4s;
}
#app.warm{
  .temp{
    color: $primary;
  }
}

#image{
  display: inline;
  max-height: 100px;
  max-width: 100%;
}

#image.clouds{
  content:url('../img/clouds.svg');
}
#image.clear{
  content:url('../img/clear.svg');
}
#image.rain{
  content:url('../img/rain.svg');
}
#image.thunderstorm{
  content:url('../img/thunderstorm.svg');
}

main{
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  margin-bottom: 10px;
  .search-bar{
    display: block;
    width: 100%;
    padding: 15px;
    color: $primary;
    font-size: 1em;
    appearance: none;
    border: none;
    outline: none;
    background: none;
  
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 16px 0 16px;
    transition: 0.4s;
    &:focus{
      background-color: rgba(255, 255, 255, 0.75);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
      border-radius: 16px 0 16px 0;
    }
  }
}

.location-box{
  margin-bottom: 20px;
  .location{
    color: $primary;
    font-size: 1.5em;
    font-weight: 600;
  }
  .date{
    color: $secondary;
    font-size: .8em;
    font-weight: 600;
  }
}

.weather-box{
  text-align: center;
  /*
  .image{
    max-width: 100%;
    max-height: 150px;
    display: block;
    margin: 20px auto 0px;
  }
  */
  .temp{
    color: $primary;
    font-size: 5em;
    font-weight: 400;
  }
  .degree{
    display: inline;
    font-size: 0.3em;
    color: $primary;
  }
  .weather{
    font-size: 2em;
    color:$primary;
    font-weight: 400;
  }

  .more-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    .item {
      font-size: 1.5em;
      font-weight: 600;
      color: $primary;
      .description{
        font-size: 0.4em;
        color: $secondary;
      }
    }
  }
}
