@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Alata', sans-serif;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

html {
  max-height: 100%;
}

#app {
  background-size: cover;
  background-position: top;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100vh;
  overflow: hidden;
}

#image {
  display: inline;
  max-height: 100px;
  max-width: 100%;
}

#image.clouds {
  content: url("../img/clouds.svg");
}

#image.clear {
  content: url("../img/clear.svg");
}

#image.rain {
  content: url("../img/rain.svg");
}

#image.thunderstorm {
  content: url("../img/thunderstorm.svg");
}

#image.haze {
  content: url("../img/haze.svg");
}

.search-box .search-bar {
  text-align: center;
  padding: 20px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #FFF;
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #2d527c;
}

.search-box .search-bar::-webkit-input-placeholder {
  color: #FFF;
}

.search-box .search-bar:-ms-input-placeholder {
  color: #FFF;
}

.search-box .search-bar::-ms-input-placeholder {
  color: #FFF;
}

.search-box .search-bar::placeholder {
  color: #FFF;
}

.weather-wrap {
  height: 100vh;
  background: #f3fbff;
  padding: 0 20px;
}

.weather-wrap .content {
  padding: 20px 20px;
  text-align: center;
}

.weather-wrap .content .title {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 20px;
}

.weather-wrap .content .location-box {
  margin-bottom: 20px;
}

.weather-wrap .content .location-box .location {
  color: #232d58;
  font-size: 1.5em;
  font-weight: 600;
}

.weather-wrap .content .location-box .date {
  color: #969696;
  font-size: .8em;
  font-weight: 400;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  color: black;
  font-size: 5em;
}

.weather-box sup {
  font-size: 0.4em;
}

.weather-box .weather {
  font-size: 2em;
  color: #2d527c;
  font-weight: 400;
}

.weather-card {
  border-radius: 10px;
  padding: 20px;
  color: #232d58;
  display: -ms-grid;
  display: grid;
}

.weather-card h3 {
  font-weight: 400;
}

.weather-card .grid-container {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.weather-card .grid-container span {
  color: #969696;
  font-size: 0.9em;
}

.weather-card .grid-container .item1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.landing-page {
  height: 100vh;
  min-height: 500px;
  background: #f3fbff;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.landing-page img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-page .container {
  margin: 0 20px;
}

.landing-page .content {
  padding: 10vh 0;
  text-align: center;
  color: #2d527c;
}

.landing-page .content h1 {
  font-size: 3em;
}

.landing-page .content p {
  color: #969696;
}

.error {
  overflow: hidden;
  height: 100vh;
  background: #f3fbff;
  padding: 35vh 0;
  text-align: center;
  color: #2d527c;
}

.error img {
  max-width: 100%;
  max-height: 100px;
}
/*# sourceMappingURL=main.css.map */