@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$primary: #583cdf;
$secondary: #777777;
$white: #FFF;

$light: #d7e4ec;
$middle:#6193ae;
$dark: #173c56;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;
}

html{
  max-height: 100%;
}

#app{
  background-size: cover;
  background-position: top;
  transition: 0.4s;
  height: 100vh;
}

#app.warm{
  .temp{
    color: $primary;
  }
}

#image{
  display: inline;
  max-height: 100px;
  max-width: 100%;
}

#image.clouds{
  content:url('../img/clouds.svg');
}
#image.clear{
  content:url('../img/clear.svg');
}
#image.rain{
  content:url('../img/rain.svg');
}
#image.thunderstorm{
  content:url('../img/thunderstorm.svg');
}

.search-box {
  .search-bar{
    padding:20px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: $white;
    font-size: 1em;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    transition: 0.4s;
    background: $dark;
    &::placeholder{
      color: $white;
    }
  }
}

.weather-wrap{
  height: 100vh;
  background: $light;

  .content{
    padding: 20px 20px;
    text-align: center;
    .title{
      font-size: 0.8em;
      margin-bottom: 20px;
    }
    .location-box{
      margin-bottom: 20px;
      .location{
        color: $primary;
        font-size: 1.5em;
        font-weight: 600;
      }
      .date{
        color: $secondary;
        font-size: .8em;
        font-weight: 600;
      }
    }
  }

  
}



.weather-box{
  text-align: center;
  /*
  .image{
    max-width: 100%;
    max-height: 150px;
    display: block;
    margin: 20px auto 0px;
  }
  */
  .temp{
    color: $primary;
    font-size: 5em;
    font-weight: 400;
  }
  .degree{
    display: inline;
    font-size: 0.3em;
    color: $primary;
  }
  .weather{
    font-size: 2em;
    color:$primary;
    font-weight: 400;
  }

  .more-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    .item {
      font-size: 1.5em;
      font-weight: 600;
      color: $primary;
      .description{
        font-size: 0.4em;
        color: $secondary;
      }
    }
  }
}

.landing-page {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/weather.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  .container{
    margin: 0 20px;
  }
  .content{
    padding: 40vh 0;
    text-align: center;
    color: $white;
    h1{
      font-size: 3em;
    }
  }
}

.error {
  height: 100vh;
  background: $middle;
  padding: 30vh 0;
  text-align: center;
  color: $white;
  img{
    max-height: 100px;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

